

html{
	
	text-align: center;
	
	color: #efefef;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 16px;
	/*background-repeat: no-repeat;*/
}
.section{
	margin-top:10%;

}

h1,h2,h3{
	font-weight: 200;
}

h1{
	font-size: 42px;
}

p,h1,h2,h3{
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}


input{
	font-weight: 200;
	font-size: 18px;
	background: #efefef;
	border: none;
	border-radius: 3px;
	padding: 10px;
	display: inline-block;
}

button, .button{
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 18px;
	font-weight: 200;
	padding: 10px;
	-webkit-appearance: none;
	display: inline-block;
	border: none;
	border-radius: 3px;
	background-color: #FCD439;
	color: #333;
	min-width: 100px;

}
button:hover, .button:hover{
	cursor: pointer;
}
button:active, .button:active{
	background-color: #F79429;
}

.taglimitinput{
	max-width: 60px;
}
.progresscontainer{
	margin-top: 1em;
	margin-bottom: 0.5em;
	position: relative;
	width: 100%;
	border-radius: 3px;
	border: 1px solid #efefef;

}
.progresscount{
	z-index: 100;
	padding: 10px;
	color: #333;
}
.progressbar{
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	background-color:#efefef;
	border-radius: 3px;

}

.messagebox{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background-color: #efefef;
	color: #333;
	padding: 30px;
}

.messagebutton{
	margin-left: 10px;
}

.background{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #ec1f29;
	background: -moz-radial-gradient(center, ellipse cover, #ec1f29 0%, #A51F24 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ec1f29), color-stop(100%,#A51F24));
	background: -webkit-radial-gradient(center, ellipse cover, #ec1f29 0%,#c12026 100%);
	background: -o-radial-gradient(center, ellipse cover, #ec1f29 0%,#A51F24 100%);
	background: -ms-radial-gradient(center, ellipse cover, #ec1f29 0%,#A51F24 100%);
	background: radial-gradient(ellipse at center, #ec1f29 0%,#A51F24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec1f29', endColorstr='#A51F24',GradientType=1 );
}