

html{
	
	text-align: center;
	
	color: #efefef;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 16px;
	/*background-repeat: no-repeat;*/
}
.section{
	margin-top:10%;

}

h1,h2,h3{
	font-weight: 800;
}

h1{
	font-size: 92px;
}

p,h1,h2,h3{
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}
.rounded{
	border-radius: 5px;
}

.background{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #ec1f29;
	background: -moz-radial-gradient(center, ellipse cover, #ec1f29 0%, #A51F24 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ec1f29), color-stop(100%,#A51F24));
	background: -webkit-radial-gradient(center, ellipse cover, #ec1f29 0%,#c12026 100%);
	background: -o-radial-gradient(center, ellipse cover, #ec1f29 0%,#A51F24 100%);
	background: -ms-radial-gradient(center, ellipse cover, #ec1f29 0%,#A51F24 100%);
	background: radial-gradient(ellipse at center, #ec1f29 0%,#A51F24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec1f29', endColorstr='#A51F24',GradientType=1 );
}

.box{

	background-color: #fefefe;
	color: #333;
	padding: 10%;
}

.full-height{
	height: 100%;
}