
body {

  margin: 0;
  padding: 0;
}


[class^=col-] {
  height: 100%;
  float: left;
  margin: 0;
  padding: 0;
  /*padding: 3%;*/
  position: relative;
}


* {
  box-sizing: border-box;
}


.grid {
  position: relative;
  width: 100%;
}


.row {
  display: block;
  width: 100%;
  
}


.row:before,
.row:after {
  content: " ";
  
  display: table;
  
}


.row:after {
  clear: both;
}


.col-1 {
  width: 16.66667%;
}

.col-1 .img-container {
  max-height: 9.37541%;
}




.col-2 {
  width: 33.33333%;
}

.col-2 .img-container {
  max-height: 18.75082%;
}




.col-3 {
  width: 50%;
}

.col-3 .img-container {
  max-height: 28.12623%;
}




.col-4 {
  width: 66.66667%;
}

.col-4 .img-container {
  max-height: 37.50164%;
}




.col-5 {
  width: 83.33333%;
}

.col-5 .img-container {
  max-height: 46.87705%;
}




.col-6 {
  width: 100%;
}

.col-6 .img-container {
  max-height: 56.25246%;
}




.col-offset-1 {
  margin-left: 16.66667%;
}


.col-offset-2 {
  margin-left: 33.33333%;
}


.col-offset-3 {
  margin-left: 50%;
}


.col-offset-4 {
  margin-left: 66.66667%;
}


.col-offset-5 {
  margin-left: 83.33333%;
}

.responsive-image{
  width: 100%;
	max-width: 100%;
}

.onethird, .twothird{
  display: inline-block;
  height: 100%;
}

.onethird{

  width: 33%;
}

.twothird{
  width: 66%;
}

@media screen and (max-width: 480px){
	[class^=col-] {
		width:100% !important;
}
}
