

html{
	background: #ee1d24;
	text-align: center;
	height: 100%;
	color: #fff;
	font-family: "Robofan Spark", "helvetica neue", helvetica, arial, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	overflow: hidden;
	/*background-repeat: no-repeat;*/
}

body{
	height: 100%;
}
.section{
	position: relative;
	margin: 0;
	padding: 0;

}

.row{
	margin: 0;
	padding: 0;
	height: 100%;
}

h1,h2,h3{
	font-weight: 800;
}
h4{
	font-weight: 600;
}

h1{
	font-size: 120px;
}
h2{
	font-size: 85px;
}
h3{
	font-size: 55px;
}
h4{
	font-size: 26px;
}

.counter{
	font-size: 250px;
}

p,h1,h2,h3,h4{
	line-height: 1;
	margin: 0;
	padding: 0;
	text-shadow: 4px 4px 0 #000;
	color: #fff;
	letter-spacing: 2px;
}
.rounded{
	border-radius: 5px;
}

.background{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgb(204,34,41);
}

.box{

	background-color: #fefefe;
	color: #333;
	padding: 10%;
}

.full-height{
	height: 100%;
}

.onethirdheight{
	height: 33%;
}

input{
	background: #fefefe;
	border: none;
	border-radius: 4px;
	font-size: 24px;
	padding: 16px 16px 12px;
	text-align: center;
	line-height: 1;
	width: 100%;
	display: block;
	font-family: "Robofan Spark", "helvetica neue", helvetica, arial, sans-serif;
}

button, .button{
	font-family: "Robofan Spark", "helvetica neue", helvetica, arial, sans-serif;
	background: #f2f2f2;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid #bbb;
	border-radius: 4px;
	font-size: 24px;
	padding: 16px 14px 10px;
	line-height: 1;
	display: block;
	margin: 10px auto;

	width: 100%;
}

button:hover, .button:hover{
	cursor: pointer;
}

button:active, .button:active{
	background-color: rgb(193,191,194);
}

.newestimage{
	height: 100%;
	width: 100%;
}

.newestimage-backdrop{
	padding: 10%;
	transition: opacity 0.5s ease;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #111;
	opacity: 0;
	z-index: 999;
	text-align: center;
}
.newestimage-backdrop.active{
	opacity: 0.9;
}
.newestimage-backdrop > *{
	margin: 10px auto;
}


.instagram-logo{
	max-width: 50%;
	margin: 0 auto;
}


.first-box{
	padding: 17% 0;
}

.second-box{
	padding: 4% 0;
}

.third-box{

	padding: 8%;
}
.sidebar-col{
	position: relative;
}

.doritos-spark{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;

}

.instagram-logo-sidebar{
	max-width: 300px;
}

.overlaygrid{
	z-index: 1000;
	position: fixed;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
}
.vbar{
	position: absolute;
	width: 5px;
	background-color: #000;
	height: 100%;
}
.hbar{
	position: absolute;
	height: 5px;
	background-color: #000;
	width: 100%;
}
.hbar-1{
	top: 33%;
}
.hbar-2{
	top: 66%;
}
.vbar-1{
	left: 33%;
}
.vbar-2{
	left: 66.5%;
}

.admin-panel{
	text-align: center;
	padding: 4%;
}
.admin-panel > *{
	margin-bottom: 10px;
}