<!DOCTYPE html>
<html>
<head>
	<title>Tag Counter Admin</title>
	<link rel="stylesheet" href="/assets/grid.css">
	<link rel="stylesheet" href="/assets/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
</head>
<body ng-app="tagCounterAdminModule">
	<section class="section row" ng-controller="tagCounterAdminController">
		<div class="col-4">
			
			<div class="newestimage" style="background-image: url('{{currentImage}}'); background-size:cover;"></div>
		</div>
		<div class="col-2 admin-panel">
			<h4>Set tag limit for next countdown</h4>
			<input type="text" ng-model="newTagLimit">
			<button ng-click="submitNewTagLimit()">Submit Next Limit</button>
			<br>
			<br>
			<h4>Approve the image on the left</h4>
			<p>show the image on the big screen</p>
			<button ng-click="submitImage()">Approve Image</button>
			<br>
			<h4>Reset the counter when the launch is done</h4>
			<button ng-click="setLaunchStatus('reset')">Reset Counter</button>
			<h4>Fallback</h4>
			<button ng-click="decrementManually()">Decrementcounter</button>

		</div>
		
	</section>
	
	<script type="text/javascript" src="/assets/angular.min.js"></script>
	<script type="text/javascript" src="/assets/adminapp.js"></script>
</body>
</html>